*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #e6eff6;
    font-family: 'Karla', sans-serif;
    padding: 20px 20px 40px;
    display: flex;
    width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.container{
    max-width: 650px;
    border-radius: 15px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container div{
    padding: 40px;
    color: #FFF;
}

.container .firstLine{
    background-color: #FFF;
    color: hsl(216, 14%, 57%);
    font-size: 16px;
    grid-row: 1 / 2;
    grid-column: 1 / 3;
}

h3{
    font-size: 24px;
    color: #39adad;
}

h4{
    font-size: 18px;
    margin-bottom: 20px;
    color: #FFF;
}

.firstLine h4{
    color: hsl(71, 73%, 54%);
    margin: 30px 0;
    font-size: 18px;
}

.firstLine p:last-child{
    margin-top: 10px;
}

.secondLine{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    background-color: #2bb3b1;
}

.price span{
    font-size: 24px;
    margin-right: 10px;
    color: #FFF;
}

.secondLine .price{
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 15px;
}

.secondLine a{
    margin-top: 33px;
    display: inline-flex;
    padding: 20px 88px;
    background-color: #bfdf32;
    text-decoration: none;
    color: #FFF;
    
}